@model Tracking_Vaksin_Services.Masyarakat

@{
     ViewData["Title"] = "Register Page Masyarakat";
}

<h3>Registrasi Produsen</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div class="form-group mb-2">
                <label asp-for="username" class="control-label">Username</label>
                <input asp-for="username" class="form-control" />
            </div>
            <div class="form-group mb-2">
                <label name="nik" class="control-label">NIK</label>
                <input name="nik" class="form-control"/>
            </div>
            <div class="form-group mb-2">
                <label asp-for="password" class="control-label">Password</label>
                <input asp-for="password" class="form-control" type="password"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary mt-2 mb-2" />
            </div>
        </form>
    </div>
</div>