@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
     ViewData["Title"] = "Home Page BPOM";
}

@{
    string username = HttpContextAccessor.HttpContext.Session.GetString("_Username") ?? "";
}
@if(username != "")
{
    <h3>Selamat Datang, @username!</h3>
}
else
{
    <h3>Selamat Datang</h3>
    <span>Silahkan </span> <a asp-action="Login">login di sini</a>
}